body {
  min-height: 100vh;
}

.container {
  height: 88vh;
  width: 100%;
}

.row {
  display: flex;
}

.baseline {
  text-align: baseline;
}

.wrap {
  flex-wrap: wrap;
}

.column-40 {
  width: 40%;
}

.one-fourth-container {
  width: 25%;
}

.column-full {
  width: 100%;
}

.column-80 {
  width: 80%;
  word-wrap: break-word;
  margin: auto;
}

.margin-0 {
  margin: 0;
}

.margin-1rem {
  margin: 1rem;
}

.padding-left-1rem {
  padding-left: 1.2rem;
}

.bottom-0 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.margin-top-1rem {
  margin-top: 1rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.padding-0 {
  padding: 0;
}

.margin-right-1rem {
  margin-right: 1rem;
}

.center {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.space-around {
  justify-content: space-around;
}

.margin-left-3rem {
  margin-left: 3rem;
}

.margin-left-1rem {
  margin-left: 1rem;
}

.margin-2rem {
  margin: 2rem;
}

.col-row {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.auto {
  margin: auto;
}

.margin-top-2rem {
  margin-top: 2rem;
}

.text-align-right {
  text-align: right;
}

.margin-bottom-1rem {
  margin-bottom: 1rem;
}

.margin-bottom-half {
  margin-bottom: 0.5rem;
}

.text-align-center {
  text-align: center;
}

.none {
  padding: 0;
  margin: 0;
}

.text-align-left {
  text-align: left;
}

.top-padding-1rem {
  padding-top: 1rem;
}

.padding-top-0-5rem {
  padding-top: 0.3rem;
}

.margin-top-half-rem {
  margin-top: 0.5rem;
}

.margin-top-3rem {
  margin-top: 3rem;
}

.margin-bottom-3rem {
  margin-bottom: 3rem;
}

.margin-top-min-6rem {
  margin-top: 6rem;
}

@media only screen and (max-width: 600px) {
  .rows {
    display: block;
  }

  .column-half {
    width: 100%;
  }

  .one-fourth-container {
    width: 50%;
  }

  .searching-position {
    top: 20%;
  }

  .align-center {
    height: 100%;
    align-items: center;
  }

  .fa-delete-left {
    position: absolute;
    top: -1080%;
    left: 100%;
  }

  .deta #keyword {
    width: 120px;
  }

  .logo {
    width: 50px;
    height: 30px;
    margin-left: 1rem;
    border-radius: 10px;
    object-fit: cover;
  }

  .header-sign-up,
  .header-sign-in {
    background-color: black;
    color: #fdec00;
    border: 1px solid black;
    border-radius: 3px;
    width: 65px;
    height: 30px;
    size: 5px;
    padding: 0;
  }

  .shop-more {
    font-size: 5px;
    height: 20px;
  }

  .closet-image-h1 {
    color: white;
    font-size: 15px;
  }

  .column-40-for-upload {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .rows {
    display: flex;
  }

  .column-half {
    width: 50%;
  }

  .column-40-for-upload {
    width: 40%;
  }

  .one-fourth-container {
    width: 50%;
  }

  #keyword {
    width: 200px;
  }

  .fa-delete-left {
    position: absolute;
    top: -1070%;
    left: 115%;
  }

  .deta .delete-box-height {
    height: 35%;
  }

  .searching-position {
    top: 20%;
  }

  .logo {
    width: 130px;
    height: 40px;
    margin-left: 1rem;
    border-radius: 10px;
    object-fit: cover;
  }

  .header-sign-up,
  .header-sign-in {
    background-color: black;
    color: #fdec00;
    border: 1px solid black;
    border-radius: 3px;
    width: 80px;
    height: 30px;
    size: 12px;
  }

  .shop-more {
    font-size: 15px;
    height: 50px;
  }

  .closet-image-h1 {
    color: white;
    font-size: 40px;
  }
}

@media only screen and (min-width: 900px) {
  .searching-position {
    top: 20%;
  }

  #keyword {
    width: 500px;
  }

  @media only screen and (min-width: 1080px) {
    .edit-text-align {
      display: flex;
      flex-direction: column;
    }

    .one-fourth-container {
      width: 25%;
    }

    #keyword {
      width: 700px;
    }

    .fa-delete-left {
      position: absolute;
      top: 10%;
      left: 103%;
    }

    .deta .detail-image-height {
      max-height: 300px;
    }
  }

  @media only screen and (min-width: 1900px) {
    .one-fourth-container {
      width: 15%;
    }

    .detail-image-height {
      max-height: 500px;
    }
  }
}
