* {
  font-family: Recursive, sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.postlist-image {
  width: 200px;
  height: 200px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  vertical-align: bottom;
}

.vertical-center {
  height: 100%;
  align-content: center;
}

.each-post {
  border: 1px solid #fef5f0;
  margin: auto;
  border-radius: 7px;
  width: 202px;
}

.postlist-text {
  padding-top: 1rem;
  padding-left: 2.5rem;
  line-height: 0.5rem;
  background-color: white;
  height: 120px;
}

p {
  color: #bebdbd;
  font-size: 12px;
}

h3 {
  margin-top: 0;
  line-height: 12px;
}

.header {
  background-color: #eec6b0;
  top: 0;
  height: 80px;
  display: flex;
  width: 100%;
  margin: 0;
}

.search-background,
.list-background {
  min-height: 500px;
  height: 100%;
  background-color: #fef5f0;
}

.whitespace {
  height: 100px;
}

h1 {
  margin-top: 6rem;
  padding: 1rem;
  padding-left: 1rem;
  color: #ad7d35;
}

.postlist-title {
  color: black;
}

.price {
  color: #ffa903;
  font-size: 15px;
  margin: auto;
}

.logo {
  width: 130px;
  height: 40px;
  margin: auto 1rem;
  border-radius: 10px;
  margin-top: 20px;
  object-fit: cover;
}

.search-bar {
  width: 500px;
  height: 30px;
  margin-top: 25px;
  margin-left: 50px;
  border: 1px solid #9f9999;
  border-radius: 10px;
  position: relative;
}

.searching-icons {
  width: 100%;
  margin-left: -30px;
  margin-top: 30px;
  z-index: 2;
  position: relative;
}

.font-size-20 {
  font-size: 20px;
}

.font-size {
  font-size: 30px;
}

textarea,
input:focus {
  outline-color: orange;
}

textarea {
  resize: none;
}

.fa-user,
.fa-mobile-screen,
.fa-envelope,
.fa-address-book,
.fa-delete-left,
.fa-arrow-right-long,
.menu-icon,
.fa-xmark,
.search-glass {
  color: #9f9999;
}

.fa-address-book {
  position: absolute;
  left: -5%;
  top: 5%;
}

.fa-delete-left {
  position: absolute;
  right: -15%;
  top: 10%;
}

.searching-x {
  position: absolute;
  right: 102%;
}

.hide {
  display: none;
}

.post {
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  margin-bottom: 3rem;
}

.menu-bar {
  width: 100%;
  position: relative;
  background-color: #fee5d7;
  min-height: 100vh;
  z-index: 3;
  padding-top: 1rem;
  padding-left: 1rem;
}

.slide-right {
  animation: slide-right 0.5s 1;
}

@keyframes slide-right {
  from {
    left: 20%;
  }

  to {
    left: 0%;
  }
}

.menu-container {
  position: absolute;
  margin-top: 24px;
  right: 5%;
  z-index: 3;
}

.post:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.detail-container {
  width: 77%;
  margin: auto;
}

.detail-background {
  background-color: #fef5f0;
  min-height: 90vh;
  width: 80%;
  margin: auto;
  position: relative;
}

.detail-image-container {
  width: 350px;
  height: 350px;
  margin: 1.2rem auto;
}

.detail-description,
.detail-text {
  line-height: 1.8rem;
  margin: 0 1.5rem;
  word-wrap: break-word;
  text-align: left;
}

hr {
  width: 400px;
  border: none;
  background-color: white;
  height: 5px;
}

h2,
h4 {
  color: #ad7d35;
}

.space-even {
  justify-content: space-between;
}

.main-image {
  width: 70%;
  height: 650px;
  position: absolute;
  margin: 0;
  animation-duration: 2s;
  animation-name: slideright;
}

@keyframes slideright {
  from { left: -150%; }
  to { left: 15%; }
}

.home-image-container {
  width: 70%;
  height: 650px;
  margin: auto;
}

.horz-margin {
  position: relative;
  left: 44%;
  margin: 1rem;
  margin-top: 0.4rem;
}

.dot-container {
  margin-top: 0.1rem;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

button,
a,
i:hover {
  cursor: pointer;
}

.return-home {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  color: #ad7d35;
}

.search-background {
  margin-top: 6rem;
}

.hidden {
  display: none;
}

.phone,
.email,
.username,
.password {
  border: 1px solid #9f9999;
  border-radius: 10px;
  height: 2.5rem;
  width: 20rem;
}

.sign-in-no-account {
  font-size: 12px;
  color: #ad7d35;
}

.sign-in-button {
  border: 1px solid #fbd3a4;
  background-color: #fbd3a4;
  border-radius: 30px;
  height: 40px;
  width: 90px;
}

.sign-in-text,
.create-account-text {
  color: #ad7d35;
  margin: auto;
}

.sign-up-confirmbox {
  width: 50%;
  background-color: #eec6b0;
  height: 200px;
  border-radius: 50px;
  text-align: center;
  padding-top: 3rem;
}

span {
  color: white;
}

.font-red {
  color: red;
}

.signup-box-container {
  justify-content: center;
  margin-top: -15rem;
  position: relative;
}

.log-in-x {
  position: absolute;
  left: 28%;
  top: 10%;
  color: #9f9999;
}

.menubar-container {
  line-height: 2rem;
  margin-left: -1rem;
  color: #ad7d35;
}

.font-color {
  color: #ad7d35;
}

.welcome-profile {
  margin-top: 0.5rem;
}

.menu-myaccount-container {
  margin-top: -10rem;
}

ul {
  margin-left: -4rem;
}

.image-container {
  width: 400px;
  height: 350px;
  margin: auto;
  margin-top: 1rem;
  margin-right: 3.8rem;
}

.upload-container {
  width: 80%;
  background-color: #fef5f0;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

.image-submit {
  position: absolute;
  bottom: 49%;
  left: 9.5%;
}

#location,
#price {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #9f9999;
}

.condition-container,
.location-container,
.price-container {
  padding: 0.5rem;
}

.test {
  margin: 6.5rem;
}

#font-color,
::placeholder,
.condition {
  color: #ad7d35;
}

::placeholder {
  font-size: 15px;
}

.delete-confirm-button,
.delete-cancel-button,
.upload-button,
.cancel-button,
.search-button {
  border: 1px solid #fbd3a4;
  background-color: #fbd3a4;
  border-radius: 30px;
  height: 40px;
  width: 90px;
  color: #ad7d35;
}

.cancel-button-text {
  color: #ad7d35;
  margin-left: 1.3rem;
  font-size: 15px;
  margin-top: 0.7rem;
}

.search-button {
  padding: 0.5rem;
}

.condition {
  border-radius: 5px;
  width: 120px;
  border: 1px solid #9f9999;
}

.title,
.description {
  border-radius: 10px;
  border: 1px solid #9f9999;
}

.title-container {
  position: relative;
}

.title {
  width: 400px;
  height: 50px;
  font-size: 1rem;
}

.description {
  width: 400px;
  height: 490px;
}

.image-upload,
#uploading {
  width: 100px;
  background-color: #fbd3a4;
  color: #ad7d35;
  padding: 0.4rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  position: relative;
  bottom: -1rem;
  border: 1px solid #fbd3a4;
  margin-right: 3.1rem;
}

.image-upload {
  margin-left: 9.5rem;
  font-size: 15px;
}

.fa-pen-to-square {
  z-index: 3;
  position: absolute;
  left: 10%;
  top: 3%;
  color: orange;
}

.fa-sack-dollar {
  z-index: 3;
  position: absolute;
  left: 10%;
  top: 20%;
  color: orange;
}

.confirm-delete-box {
  position: fixed;
  top: 30%;
  left: 30%;
  background-color: #eec6b0;
  width: 500px;
  height: 300px;
  color: white;
  border-radius: 10px;
  z-index: 4;
}

.confirm-move-box {
  position: fixed;
  background-color: #eec6b0;
  width: 500px;
  height: 300px;
  color: white;
  border-radius: 10px;
  z-index: 5;
}

.delete-text {
  border: 2px solid white;
  margin: 1rem;
  padding-left: 0.5rem;
  width: 100px;
}

.move-text {
  border: 2px solid red;
  margin: 1rem;
  padding-left: 0.5rem;
}

.delete-confirm-button,
.delete-cancel-button {
  background-color: white;
}

.delete,
.delete-confirm-button {
  color: red;
}

.move-warning {
  color: white;
  text-align: center;
}

.fa-heart,
.fa-heart-circle-plus {
  color: orange;
  position: absolute;
  right: 5%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.contact-background {
  position: absolute;
  width: 300px;
  background-color: #fee5d7;
  height: 150px;
  border-radius: 10px;
  top: 5%;
}

.contact-info {
  line-height: 30px;
}

.contact-button {
  border: 1px solid #fbd3a4;
  background-color: #fbd3a4;
  border-radius: 30px;
  height: 20px;
  width: 50px;
  color: #ad7d35;
}

.contact-text {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
